aiosqlite==0.16.1
aniso8601==9.0.1
annotated-types==0.6.0
anyio==4.3.0
async-lru==1.0.2
beautifulsoup4==4.9.3
bitcoinlib==0.6.14
blinker==1.7.0
certifi==2021.5.30
charset-normalizer==2.0.12
click==8.1.7
colorama==0.4.6
cycler==0.10.0
distro==1.9.0
ecdsa==0.18.0
exceptiongroup==1.2.0
fastapi==0.110.1
Flask==2.1.1
Flask-RESTful==0.3.10
greenlet==3.0.3
h11==0.14.0
h2==4.0.0
hpack==4.0.0
httpcore==1.0.6
httptools==0.6.1
httpx==0.27.2
hyperframe==6.0.1
idna==3.2
importlib_metadata==7.0.2
iso8601==0.1.16
itsdangerous==2.1.2
Jinja2==3.1.3
jiter==0.5.0
kiwisolver==1.3.1
langs==0.1.1
mangum==0.17.0
MarkupSafe==2.1.5
matplotlib==3.4.1
meval==2.5
mysql-connector-python==8.3.0
numpy==1.19.5
openai==1.51.0
Pillow==8.3.1
pyaes==1.6.1
pycryptodome==3.20.0
pydantic==2.6.4
pydantic_core==2.16.3
pyparsing==2.4.7
pypika-tortoise==0.1.1
Pyrogram==1.2.8
pyromod==1.5
PySocks==1.7.1
python-dateutil==2.8.2
python-dotenv==0.19.2
pytz==2020.5
PyYAML==5.4.1
requests==2.26.0
rfc3986==1.5.0
scrypt==0.8.18
six==1.16.0
sniffio==1.2.0
soupsieve==2.2.1
SQLAlchemy==2.0.28
starlette==0.37.2
TgCrypto==1.2.2
tortoise-orm==0.17.2
tqdm==4.66.5
typing_extensions==4.12.2
urllib3==1.26.18
uvicorn==0.29.0
watchfiles==0.21.0
websockets==12.0
Werkzeug==2.0.1
zipp==3.18.1
